body{
	background-image: url("/photos/bearcreek.jpg");
	background-size: 100%;
    background-attachment: fixed;
    /*height: 980px;*/
}


#wrapper{
	display: block;
 	position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container{
	/*display: block;*/
	margin: auto;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.clearfix:after{
    width: 300px;
    height: 300px;
    content:"";
    display:table;
    clear:both;
}

.box {
    float:left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

#top{
    width: 100%; 
    height: 100px;
    padding-top: 50px;
    position: center;
    text-align: center;
}

#left{
    width: 150px;
    height: 100px; 
    padding-top: 40px;
    text-align: center;
    float: left;
}

#right{
    width: 150px;
    height: 100px;
    padding-top: 40px;
    float: left;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color:  #FFE4E1;
}